PORT=4300
MONGODB_URI=mongodb://localhost:27017/smartbox_dev
JWT_SECRET=your_jwt_secret_key_here
RESEND_API_KEY=re_your_api_key_here
STARTMESSAGING_API_KEY=sm_your_api_key_here
OTP_TEMPLATE_ID=your_otp_template_id_here
DEMO_MODE=true

# Initial Platform Admin Credentials (Used by: npm run seedAdmin)
ADMIN_EMAIL=admin@example.com
ADMIN_INITIAL_PASSWORD=YourSecurePassword123!
